@keyframes B-ui-components_fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.B-ui-components_dialog-content-container {
  /* for mobile screens */
  margin-top: 7vh;
  overscroll-behavior-y: contain;
  max-height: calc(100vh * 0.9);
  display: grid;
  grid-template-columns:
    var(--BV-window-dialog-padding-x) auto 1fr auto minmax(0, auto)
    var(--BV-window-dialog-padding-x);
  grid-template-rows: auto var(--BV-window-dialog-padding-y) auto auto 1fr auto var(
      --BV-window-dialog-padding-y
    );
  grid-template-areas:
    'hero hero hero hero hero hero'
    '. . . . . .'
    '. heading header header headerIcon .'
    '. divider divider divider divider .'
    '. content content content content .'
    '. footer footer buttonGroup buttonGroup .'
    '. . . . . .';
  background-color: var(--BV-window-bg-color-1);
  border-radius: 6px;
  box-shadow: rgb(11 19 22 / 38%) 0 10px 39px -11px,
    rgb(11 19 22 / 21%) 0 10px 20px -14px;
}

body.BU_widescreen .B-ui-components_dialog-content-container {
  margin-top: unset;
}

.B-ui-components_dialog-content-container.BU_small {
  width: 400px;
}

.B-ui-components_dialog-content-container.BU_medium {
  width: 500px;
}

.B-ui-components_dialog-content-container.BU_large {
  width: 640px;
}

.B-ui-components_dialog-hero {
  grid-area: hero;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  max-height: 120px;
}

.B-ui-components_dialog-footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.B-ui-components_dialog-header-icon {
  grid-area: headerIcon;
  display: flex;
  align-items: center;
}

.B-ui-components_dialog-hero > img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.B-ui-components_dialog-heading {
  grid-area: heading-start/heading-start/header-end/header-end;
}

.B-ui-components_dialog-divider {
  grid-area: divider;
  margin: 1.1rem 0 1.2rem;
  border-radius: 0.25rem;
  border: 0;
  align-self: stretch;
  background-color: var(--BV-window-separator-color);
  width: 100%;
  height: 2px;
}

.B-ui-components_dialog-button-group {
  grid-area: buttonGroup;
}

.B-ui-components_dialog-content {
  grid-area: content;
}

.B-ui-components_dialog-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  background-color: var(--BV-window-modal-overlay-bg-color);
  display: flex;
  justify-content: center;
  z-index: var(--BV-window-modal-z-index);
  backdrop-filter: blur(2px);
  align-items: flex-start;
}

body.BU_widescreen .B-ui-components_dialog-underlay {
  align-items: center;
}
