/* The relative position is super important for absolutely positioned div inside
  or else it will cause weird scrolling issues.
*/
.B-editor-container_editor {
  position: relative;
  width: 100%;
}

.B-editor-container_editor-bar {
  color: var(--BV-ui-bangle-button-color);
}

.B-editor-container_ws-path {
  color: var(--BV-ui-bangle-button-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.B-editor-container_ws-path.BU_active {
  background-color: var(--BV-base-300);
}
