:root {
  --BV-ui-dhancha-ws-sidebar-width: var(--BV-workspace-sidebar-width, 15rem);
  --BV-ui-dhancha-activitybar-width: var(--BV-activitybar-width, 40px);
  --BV-ui-dhancha-activitybar-mobile-width: var(
    --BV-activitybar-mobile-height,
    30px
  );
  --BV-ui-dhancha-note-sidebar-width: var(--BV-note-sidebar-width, 15rem);
  --BV-ui-dhancha-note-border-color: var(--BV-window-border-color-0, grey);
  --BV-ui-dhancha-activitybar-bg-color: var(--BV-activitybar-bg-color, magenta);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

.B-ui-dhancha_container > * {
  box-sizing: border-box;
}

.B-ui-dhancha_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.B-ui-dhancha_container.BU_widescreen {
  flex-direction: row;
  overflow: hidden;
}

.B-ui-dhancha_main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.B-ui-dhancha_main-content.BU_widescreen {
  flex-shrink: 1;
  flex-grow: 0;
  max-height: 100vh;
  width: 100%;
}

.B-ui-dhancha_multi-column-main-content > * {
  box-sizing: border-box;
  min-width: 100%;
  border-right: 1px solid var(--BV-ui-dhancha-note-border-color);
}

.B-ui-dhancha_multi-column-main-content > *:last-child {
  border-right: 0;
}

.B-ui-dhancha_multi-column-main-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.B-ui-dhancha_activitybar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: var(--BV-ui-dhancha-activitybar-mobile-width);
  background-color: var(--BV-ui-dhancha-activitybar-bg-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.B-ui-dhancha_activitybar.BU_widescreen {
  flex-basis: var(--BV-ui-dhancha-activitybar-width);
  flex-direction: column;
  height: 100vh;
  position: relative;
  top: unset;
}

.B-ui-dhancha_ws-sidebar {
  flex-shrink: 0;
  height: 100vh;
  width: var(--BV-ui-dhancha-ws-sidebar-width);
  z-index: 5;
  border-right: 1px solid var(--BV-ui-dhancha-note-border-color);
}

.B-ui-dhancha_note-sidebar {
  flex-shrink: 0;
  height: 100vh;
  width: var(--BV-ui-dhancha-note-sidebar-width);
  z-index: 5;
  border-left: 1px solid var(--BV-ui-dhancha-note-border-color);
}

/* The position of the menu when not hidden (and default) */

/* the .up and .down are added in small screens */
.B-ui-dhancha_activitybar.B-ui-dhancha_up {
  /* How long to get back up */
  transition: transform 0.25s;
  transition-timing-function: ease-in;
  transform: translate(0, 0);
  will-change: transform;
}

.B-ui-dhancha_activitybar.B-ui-dhancha_down {
  /* How long to scroll down */
  transition: transform 0.6s;
  transition-timing-function: ease-in;
  transform: translate(0, -6rem);
  will-change: transform;
}
