.B-core-editor_bangle-heading-collapsed {
  background-color: var(--BV-window-bg-color-2);
  border-radius: 8px;
}

.B-core-editor_bangle-tooltip {
  z-index: var(--BV-window-tooltip-z-index);
}

/* collapse styles */
.B-core-editor_deco-collapse-positioner {
  position: relative;
}

.B-core-editor_deco-collapse {
  display: flex;
  position: absolute;
  left: -1.5rem;
}

h1 .B-core-editor_deco-collapse {
  top: calc((3rem / 2) - 10px);
}

h2 .B-core-editor_deco-collapse {
  top: calc((1.875rem / 2) - 10px);
}

h3 .B-core-editor_deco-collapse {
  top: calc((1.25rem / 2) - 10px);
}

h4 .B-core-editor_deco-collapse {
  top: calc((1.125rem / 2) - 10px);
}

h5 .B-core-editor_deco-collapse {
  top: calc((0.75rem / 2) - 10px);
}

.B-core-editor_deco-collapse-child {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  align-self: center;
  cursor: pointer;
}

/* collapse styles end */

.B-core-editor_selected-node {
  animation-duration: 0.75s;
  animation-name: B-core-editor_editor-selected-node;
  animation-timing-function: ease-out;
}

@keyframes B-core-editor_editor-selected-node {
  from {
    border-radius: 4px;
    background-color: var(--BV-editor-core-selection-change-bg-color);
  }

  to {
    background-color: unset;
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor a {
  color: var(--BV-window-link-color);
  text-decoration: underline;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor li {
  margin-bottom: 0.25rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor p > code {
  background-color: var(--BV-base-300);
  color: var(--BV-text-color-1);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor pre {
  background-color: var(--BV-base-300);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor blockquote {
  background-color: var(--BV-base-300);
  color: var(--BV-text-color-1);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor .ProseMirror-selectednode {
  outline: 2px solid var(--BV-window-link-color);
  border-radius: var(--BV-window-pill-border-radius);
}
