#dialog-container {
  isolation: isolate;
  background: transparent;
  color-scheme: light;
  position: fixed;
  z-index: var(--BV-window-modal-z-index);
}

html[data-theme='dark'] #dialog-container {
  color-scheme: dark;
}

#tooltip-container {
  isolation: isolate;
  position: fixed;
  z-index: var(--BV-window-tooltip-z-index);
}

:root {
  --BV-window-widescreen-minWidth: 760px;
  --BV-window-pill-border-radius: 5px;
  --BV-window-modal-z-index: 700;
  --BV-window-popup-editor-z-index: 300;
  --BV-window-tooltip-z-index: 800;
  --BV-window-page-padding: 3rem 30px 3rem 30px;
  --BV-window-page-mobile-padding: 1.5rem 10px 2rem 25px;
  --BV-window-page-box-padding: 2rem;
  --BV-window-dialog-padding-x: 40px;
  --BV-window-dialog-padding-y: 40px;

  --BV-page-max-width: 700px;

  --BV-workspace-sidebar-width: 300px;

  --BV-note-sidebar-width: 300px;

  --BV-universal-palette-max-width: 620px;

  --BV-inline-universal-palette-max-width: 350px;
  --BV-inline-universal-palette-max-height: 33vh;

  --BV-activitybar-width: 50px;
  --BV-activitybar-mobile-height: 50px;

  --BV-ui-bangle-button-depression: 0.96;
  --BV-ui-bangle-button-radius: 0.25rem;
}

/* light theme */
:root {
  --BV-base-50: #ffffff;
  --BV-base-75: #fafafa;
  --BV-base-100: #f5f5f5;
  --BV-base-150: #f0f0f0;
  --BV-base-200: #eaeaea;
  --BV-base-300: #e1e1e1;
  --BV-base-400: #cacaca;
  --BV-base-500: #b3b3b3;
  --BV-base-600: #8e8e8e;
  --BV-base-700: #6e6e6e;
  --BV-base-800: #4b4b4b;
  --BV-base-900: #2c2c2c;

  --BV-text-color-0: var(--BV-base-900);
  --BV-text-color-1: var(--BV-base-800);

  --BV-accent-primary-0: rgb(88, 204, 240);
  --BV-accent-primary-1: rgb(136, 223, 250);
  --BV-accent-secondary: rgb(232, 232, 232);
  --BV-accent-destructive-0: rgb(198, 69, 69);
  --BV-accent-destructive-1: rgb(197, 74, 74);

  --BV-severity-error-color: var(--BV-accent-destructive-0);
  --BV-severity-warning-color: #ff9800;
  --BV-severity-info-color: #2196f3;
  --BV-severity-success-color: #4caf50;
  --BV-error-bg-color: rgb(254, 241, 240);

  --BV-window-bg-color-0: var(--BV-base-100);
  --BV-window-bg-color-1: var(--BV-base-75);
  --BV-window-bg-color-2: var(--BV-base-50);
  --BV-window-border-color-0: var(--BV-base-300);
  --BV-window-border-color-1: var(--BV-base-300);
  --BV-window-dropdown-bg-color-0: var(--BV-base-75);
  --BV-window-dropdown-bg-color-1: var(--BV-base-50);
  --BV-window-dropdown-color: var(--BV-text-color-1);
  --BV-window-dropdown-radius: var(--BV-ui-bangle-button-radius);
  --BV-window-highlight-bg-color: yellow;
  --BV-window-kbd-bg-color: var(--BV-base-300);
  --BV-window-kbd-color: var(--BV-text-color-1);
  --BV-window-link-color: #4299e1;
  --BV-window-modal-overlay-bg-color: rgba(0, 0, 0, 0.6);
  --BV-window-popup-editor-bg-color: var(--BV-base-75);
  --BV-window-popup-editor-color: var(--BV-text-color-1);
  --BV-window-separator-color: var(--BV-base-300);
  --BV-window-tooltip-bg-color: var(--BV-base-50);
  --BV-window-tooltip-color: var(--BV-text-color-1);

  --BV-workspace-sidebar-bg-color: var(--BV-base-150);

  --BV-universal-palette-bg-color: var(--BV-window-bg-color-1);

  --BV-editor-core-selection-change-bg-color: var(--BV-base-300);

  --BV-note-tags-color: rgb(226, 226, 226);
  --BV-note-tags-bg-color: rgb(105, 105, 105);

  --BV-activitybar-bg-color: rgb(26, 32, 44);
  --BV-activitybar-button-active-color: var(--BV-base-200);
  --BV-activitybar-button-hover-bg-color: var(--BV-base-100);
  --BV-activitybar-button-hover-color: var(--BV-base-200);
  --BV-activitybar-button-color: var(--BV-base-300);
  --BV-activitybar-button-pressed-bg-color: var(--BV-base-800);

  --BV-ui-bangle-button-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-bg-color: var(--BV-base-300);
  --BV-ui-bangle-button-color: var(--BV-base-800);
  --BV-ui-bangle-button-disabled-bg-color: var(--BV-base-100);
  --BV-ui-bangle-button-disabled-color: var(--BV-base-700);
  --BV-ui-bangle-button-hover-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-primary-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-bg-color: var(--BV-accent-primary-0);
  --BV-ui-bangle-button-primary-color: var(--BV-base-800);
  --BV-ui-bangle-button-primary-hover-bg-color: var(--BV-accent-primary-1);
  --BV-ui-bangle-button-primary-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-destructive-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-destructive-bg-color: var(--BV-accent-destructive-0);
  --BV-ui-bangle-button-destructive-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-hover-bg-color: var(
    --BV-accent-destructive-1
  );
  --BV-ui-bangle-button-destructive-hover-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-pressed-bg-color: var(--BV-base-400);

  --BV-backlink-backlink-bg-color: rgb(208, 238, 252);
  --BV-backlink-backlink-hover-bg-color: rgb(225, 242, 250);
  --BV-backlink-backlink-not-found-bg-color: var(--BV-base-300);
  --BV-backlink-backlink-not-found-hover-bg-color: var(--BV-base-400);
}

.dark-theme,
html[data-theme='dark'] {
  --BV-base-50: #080808;
  --BV-base-75: #1a1a1a;
  --BV-base-100: #1e1e1e;
  --BV-base-150: #252525;
  --BV-base-200: #2c2c2c;
  --BV-base-300: #393939;
  --BV-base-400: #494949;
  --BV-base-500: #5c5c5c;
  --BV-base-600: #7c7c7c;
  --BV-base-700: #a2a2a2;
  --BV-base-800: #c8c8c8;
  --BV-base-900: #efefef;

  --BV-text-color-0: var(--BV-base-900);
  --BV-text-color-1: var(--BV-base-800);

  --BV-accent-primary-0: rgb(223, 50, 130);
  --BV-accent-primary-1: rgb(229, 92, 156);
  --BV-accent-secondary: rgb(57, 62, 63);
  --BV-accent-destructive-0: rgb(219, 101, 100);
  --BV-accent-destructive-1: rgb(218, 110, 108);

  --BV-severity-error-color: var(--BV-accent-destructive-0);
  --BV-severity-warning-color: #ff9800;
  --BV-severity-info-color: #2196f3;
  --BV-severity-success-color: #4caf50;
  --BV-error-bg-color: rgb(37, 2, 1);

  --BV-window-bg-color-0: var(--BV-base-100);
  --BV-window-bg-color-1: var(--BV-base-75);
  --BV-window-bg-color-2: var(--BV-base-50);
  --BV-window-border-color-0: var(--BV-base-400);
  --BV-window-border-color-1: var(--BV-base-400);
  --BV-window-dropdown-bg-color-0: var(--BV-base-75);
  --BV-window-dropdown-bg-color-1: var(--BV-base-50);
  --BV-window-dropdown-color: var(--BV-text-color-1);
  --BV-window-highlight-bg-color: rgba(255, 255, 0, 0.5);
  --BV-window-kbd-bg-color: var(--BV-base-400);
  --BV-window-kbd-color: var(--BV-text-color-1);
  --BV-window-link-color: #4299e1;
  --BV-window-modal-overlay-bg-color: rgba(0, 0, 0, 0.6);
  --BV-window-popup-editor-bg-color: var(--BV-base-75);
  --BV-window-popup-editor-color: var(--BV-text-color-1);
  --BV-window-separator-color: var(--BV-base-300);
  --BV-window-tooltip-bg-color: var(--BV-base-50);
  --BV-window-tooltip-color: var(--BV-text-color-0);

  --BV-workspace-sidebar-bg-color: var(--BV-base-150);

  --BV-universal-palette-bg-color: var(--BV-window-bg-color-1);

  --BV-editor-core-selection-change-bg-color: var(--BV-base-300);

  --BV-note-tags-color: rgb(66, 66, 66);
  --BV-note-tags-bg-color: rgb(205, 205, 205);

  --BV-activitybar-bg-color: rgb(31, 30, 30);
  --BV-activitybar-button-active-color: var(--BV-base-800);
  --BV-activitybar-button-hover-bg-color: var(--BV-base-400);
  --BV-activitybar-button-hover-color: var(--BV-base-900);
  --BV-activitybar-button-color: var(--BV-base-700);
  --BV-activitybar-button-pressed-bg-color: var(--BV-base-100);

  --BV-ui-bangle-button-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-bg-color: var(--BV-base-200);
  --BV-ui-bangle-button-color: var(--BV-base-800);
  --BV-ui-bangle-button-disabled-bg-color: var(--BV-base-100);
  --BV-ui-bangle-button-disabled-color: var(--BV-base-700);
  --BV-ui-bangle-button-hover-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-primary-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-bg-color: var(--BV-accent-primary-0);
  --BV-ui-bangle-button-primary-color: var(--BV-base-800);
  --BV-ui-bangle-button-primary-hover-bg-color: var(--BV-accent-primary-1);
  --BV-ui-bangle-button-primary-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-destructive-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-destructive-bg-color: var(--BV-accent-destructive-0);
  --BV-ui-bangle-button-destructive-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-hover-bg-color: var(
    --BV-accent-destructive-1
  );
  --BV-ui-bangle-button-destructive-hover-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-pressed-bg-color: var(--BV-base-400);

  --BV-backlink-backlink-bg-color: rgba(56, 139, 253, 0.15);
  --BV-backlink-backlink-hover-bg-color: rgba(56, 139, 253, 0.4);
  --BV-backlink-backlink-not-found-bg-color: var(--BV-base-300);
  --BV-backlink-backlink-not-found-hover-bg-color: var(--BV-base-400);
}

:root {
  background-color: var(--BV-window-bg-color-0);
}
